#[include boards/mks-gen-1.4.cfg]
[include Klipper-Configs/boards/mks-monster8-v2.cfg]
[include Klipper-Configs/macros/globals.cfg]

[mcu]
#serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AQ00E1ZX-if00-port0
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2E0042000150305253393320-if00

#[mcu adxl1]
# Change <mySerial> to whatever you found above. For example,
# usb-Klipper_rp2040_E661640843545B2E-if00
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E6611CB697523229-if00

#[adxl345 x_access_r]
#cs_pin: adxl1:gpio13
#spi_bus: spi1a
#spi_software_sclk_pin: adxl1:gpio10
#spi_software_mosi_pin: adxl1:gpio11
#spi_software_miso_pin: adxl1:gpio12
#axes_map: x,y,z

#[resonance_tester]
#accel_chip: adxl345 x_access_r
#probe_points:
    # Somewhere slightly above the middle of your print bed
#    127, 127, 20

#[output_pin power_mode] # Improve power stability
#pin: adxl1:gpio23


[printer]
kinematics: cartesian
max_velocity: 10000
max_accel: 600
max_z_velocity: 10
max_z_accel: 100

[input_shaper]
# zv @ 149.8 Hz
shaper_freq_x: 149.8
shaper_type_x: zv

[stepper_x]
step_pin: S1_STEP
dir_pin: !S1_DIR
enable_pin: !S1_ENB
microsteps: 16
rotation_distance: 72.22
endstop_pin: !X_MIN_ENDSTOP  # endstop have'!' is NO
position_endstop: 0
position_max: 254
homing_speed: 60

[stepper_y]
step_pin: S2_STEP
dir_pin: S2_DIR
enable_pin: !S1_ENB
microsteps: 16
rotation_distance: 72.22
endstop_pin: !Y_MIN_ENDSTOP  #i endstop have'!' is NO
position_endstop: 0
position_max: 250
homing_speed: 60

[stepper_z]
step_pin: S3_STEP
dir_pin: S3_DIR
enable_pin: !S3_ENB
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop # we have bl touch
position_min: -10
#position_endstop: 0
position_max: 250
homing_speed: 20

[stepper_z1]
step_pin: S7_STEP
dir_pin: S7_DIR
enable_pin: !S7_ENB
microsteps: 16
rotation_distance: 2

[extruder]
step_pin: S4_STEP
dir_pin: S4_DIR
enable_pin: !S4_ENB
microsteps: 16
rotation_distance: 4.68
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HE1_PIN
sensor_type: EPCOS 100K B57560G104F
sensor_pin: HE1_SENSOR_PIN
max_extrude_only_distance: 100.0
control = pid
pid_Kp=23.442 
pid_Ki=0.936
pid_Kd=146.84
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: HB_PIN
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: HB_SENSOR_PIN
max_power: 1.0
control = pid
pid_Kp=75.741 
pid_Ki=2.044 
pid_Kd=701.550
min_temp: 0
max_temp: 200

#fan for printed model FAN0
[fan]
pin: FAN_1

#fan for hotend FAN1
#[heater_fan my_nozzle_fan]
#[heater_fan fan1]
#pin: PA1
#shutdown_speed: 1

#fan for control board FAN2
#[heater_fan my_control_fan]
#[heater_fan fan2]
#pin: PA0
#shutdown_speed: 1

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: S1_UART
run_current: 1.1
hold_current: 0.5
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: S2_UART
run_current: 1.3
hold_current: 0.5
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: S3_UART
run_current: 1.3
hold_current: 0.5
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: S7_UART
run_current: 1.3
hold_current: 0.5
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: S4_UART
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999

#[tmc2208 extruder1]
#uart_pin: PD4
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

#[tmc2208 extruder2]
#uart_pin: PD0
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

#[tmc2208 extruder3]
#uart_pin: PD15
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

#[tmc2208 extruder4]
#uart_pin: PD11
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

########################################
# TMC SPI configuration
########################################

#[tmc2130 stepper_x]
#spi_bus: spi4
#cs_pin: PE6
#diag1_pin: PA14
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 stepper_y]
#spi_bus: spi4
#cs_pin: PE3
#diag1_pin: PA15
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 stepper_z]
#spi_bus: spi4
#cs_pin: PB7
#diag1_pin: PB13
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder]
#spi_bus: spi4
#cs_pin: PB3
#diag1_pin: PA13
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder1]
#spi_bus: spi4
#cs_pin: PD4
#diag1_pin: PC5
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder2]
#spi_bus: spi4
#cs_pin: PD0
#diag1_pin: PB12
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder3]
#spi_bus: spi4
#cs_pin: PD15
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2130 extruder4]
#spi_bus: spi4
#cs_pin: PD11
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

[include Klipper-Configs/sections/LCD.cfg]

[include Klipper-Configs/sections/BIQU.cfg]

[probe]
#z_offset = 1.000

[safe_z_home]
home_xy_position: 127, 127 # Change coordinates to the center of your print bed
speed: 60
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#mesh_radius:
#   Defines the radius of the mesh to probe for round beds. Note that
#   the radius is relative to the coordinate specified by the
#   mesh_origin option. This parameter must be provided for round beds
#   and omitted for rectangular beds.
#mesh_origin:
#   Defines the center X, Y coordinate of the mesh for round beds. This
#   coordinate is relative to the probe's location. It may be useful
#   to adjust the mesh_origin in an effort to maximize the size of the
#   mesh radius. Default is 0, 0. This parameter must be omitted for
#   rectangular beds.
mesh_min: 20, 20
#   Defines the minimum X, Y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
mesh_max: 220, 220
#   Defines the maximum X, Y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
probe_count: 4, 4
#   For rectangular beds, this is a comma separate pair of integer
#   values X, Y defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3, 3.
#round_probe_count: 5
#   For round beds, this integer value defines the maximum number of
#   points to probe along each axis. This value must be an odd number.
#   Default is 5.
#fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled. Default is 1.0.
#fade_end: 0.0
#   The gcode z position in which phasing out completes. When set to a
#   value below fade_start, fade is disabled. It should be noted that
#   fade may add unwanted scaling along the z-axis of a print. If a
#   user wishes to enable fade, a value of 10.0 is recommended.
#   Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is
#   set to a non-zero value it must be within the range of z-values in
#   the mesh. Users that wish to converge to the z homing position
#   should set this to 0. Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will trigger
#   a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#mesh_pps: 2, 2
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2.
#zero_reference_position:
#   An optional X,Y coordinate that specifies the location on the bed
#   where Z = 0.  When this option is specified the mesh will be offset
#   so that zero Z adjustment occurs at this location.  The default is
#   no zero reference.
#relative_reference_index:
#   **DEPRECATED, use the "zero_reference_position" option**
#   The legacy option superceded by the "zero reference position".
#   Rather than a coordinate this option takes an integer "index" that
#   refers to the location of one of the generated points. It is recommended
#   to use the "zero_reference_position" instead of this option for new
#   configurations. The default is no relative reference index.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.
#
[exclude_object]

[z_tilt]
z_positions:
    0, 124
    254, 124
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
    64, 124
    192, 124
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#retries: 0
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.
#

[filament_switch_sensor my_sensor]
pause_on_runout: True
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
switch_pin:  Z_MAX_ENDSTOP
#   The pin on which the switch is connected. This parameter must be
#   provided.
[gcode_macro M80]
gcode:
	SET_PIN PIN=PWR VALUE=0

[gcode_macro M81]
gcode:
	SET_PIN PIN=PWR VALUE=1

[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
#	SET_GCODE_OFFSET Z=-0.72
#   A list of G-Code commands to execute in place of "my_cmd". See
#   docs/Command_Templates.md for G-Code format. This parameter must
#   be provided.
#variable_<name>:
#   One may specify any number of options with a "variable_" prefix.
#   The given variable name will be assigned the given value (parsed
#   as a Python literal) and will be available during macro expansion.
#   For example, a config with "variable_fan_speed = 75" might have
#   gcode commands containing "M106 S{ fan_speed * 255 }". Variables
#   can be changed at run-time using the SET_GCODE_VARIABLE command
#   (see docs/Command_Templates.md for details). Variable names may
#   not use upper case characters.
#rename_existing:
#   This option will cause the macro to override an existing G-Code
#   command and provide the previous definition of the command via the
#   name provided here. This can be used to override builtin G-Code
#   commands. Care should be taken when overriding commands as it can
#   cause complex and unexpected results. The default is to not
#   override an existing G-Code command.
#description: G-Code macro
#   This will add a short description used at the HELP command or while
#   using the auto completion feature. Default "G-Code macro"
[pause_resume]
[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
#variable_load_length: 90.0
# Hide the Octoprint LCD menu since I don't use it.
#variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [
#  {'name' : 'PLA',  'extruder' : 200.0, 'bed' : 60.0},
#  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0},
#  {'name' : 'ABS',  'extruder' : 245.0, 'bed' : 110.0, 'chamber' : 60}]
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 30 # This value works for most setups.
gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
#[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
#[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[respond]

[save_variables]
filename: ~/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/gcode_files # UPDATE THIS FOR YOUR PATH!!!
on_error_gcode: CANCEL_PRINT

[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.400
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.252813, 0.145938, -0.083437, -0.421875
#*# 	  0.116250, 0.125938, -0.000625, -0.236250
#*# 	  -0.123750, -0.018750, 0.004688, -0.085625
#*# 	  -0.292500, -0.183437, -0.085000, -0.012187
#*# tension = 0.2
#*# min_x = 20.01
#*# algo = lagrange
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 4
#*# max_y = 219.98
#*# mesh_x_pps = 2
#*# max_x = 219.99
